#exhibitions
	- @exhibitions_by_year.each do |year, exhibitions|
		.row
			.col-xs-2
				.year=year
			.col-xs-10
				-exhibitions.each do |exhibition|
					.exhibition{class: "#{ 'art-fair' if exhibition.art_fair } #{'current' if exhibition.current?} #{exhibition.pieces.blank? ? 'empty' : 'toggleable'}"}
						- if exhibition.current?
							%span.current current
						.exhibition-info
							%span=exhibition.name
							%span=exhibition.artists.first.try(:name) if exhibition.artists.count == 1
							%span.text-right="#{exhibition.begins.strftime('%m.%d.%y')}-#{exhibition.ends.strftime('%m.%d.%y')}"
						- unless exhibition.pieces.blank?
							=render 'images', exhibition: exhibition, pieces: exhibition.pieces


:javascript
	$("img").each( function(){
		$(this).attr("src", $(this).data("src"));
	});