.well
	Choose as many as you'd like and click start upload when you're ready.
%p
	= s3_uploader_form callback_url: aws_callback_admin_artist_url(@artist), callback_param: "piece[upload_url]", id: "s3-uploader" do
		%span.btn.btn-default.fileinput-button
			%span Add Files...
			= file_field_tag :file, multiple: true

%script#template-upload{type: "text/x-tmpl"}
	= form_for Piece.new, url: admin_artist_works_url(@artist), :html => {:id => "file-{%=o.unique_id%}", :class => "upload"} do |f| 
		= f.hidden_field :upload_url, :class => 'url' 
		= f.hidden_field :upload_key, :class => 'unique_id' 
		="{%=o.name%}"
		.control-group
			= f.label :name 
			= f.text_field :name, class: 'form-control'
		.control-group
			=f.label :description
			=f.text_area :description, class: 'form-control'
		%p
			.progress
				.progress-bar.bar{style: "width: 0%", role: 'progress-bar'}