#contact.row
  .col-sm-2
    %p Laurel Gitlen <br> Owner/Director
  .col-sm-3
    %address
      465 Grand Street #4C
      %br
      New York, NY 10002
    %p &mdash;
    %p
      Wednesday–Sunday, 12pm–6pm
      %br
      Other times by appointment

    %p &mdash;
    %p
      = mail_to "gallery@laurelgitlen.com", nil, target: "_blank"
      %br
      =link_to "P 212.274.0761", "tel:+12122740761"
  .col-sm-6
    &nbsp;
    -# = link_to image_tag('bw_map_lg.png'), "https://www.google.com/maps/place/Laurel+Gitlen/@40.719303,-73.986743,17z/data=!3m1!4b1!4m2!3m1!1s0x89c2598715d95f43:0x6f1d64beff03d10b", target: "_blank"

#signup.row
  = form_tag "https://ymlp.com/subscribe.php?id=gesheqbgmgw", method: 'POST', target: '_blank', class: 'col-sm-offset-2 col-sm-3', style: "margin-top:25px;" do
    %p Fill out your email address to receive our newsletter!
    .form-group
      = text_field_tag 'YMP0', nil, class: 'form-control', placeholder: 'Email Address'
    .form-group
      = text_field_tag 'YMP1', nil, class: 'form-control', placeholder: 'First Name'
    .form-group
      = text_field_tag 'YMP2', nil, class: 'form-control', placeholder: 'Last Name'
    .form-group
      = submit_tag 'Submit'